%main.container
  %h1.general-title-margin= t('settings.settings')
  %ul.nav.clearfix.mb-20{role: "tablist"}
    %li.tab-item{role: "presentation"}
      = link_to t('settings.address'), settings_addresses_path, class: 'tab-link filter-link active'
    %li.tab-item{role: "presentation"}
      = link_to t('settings.privacy'), 'settings_privacy_path', class: 'tab-link'
  .tab-content
    = render 'cartify/shared/addresses_form'
