- @order_items&.each do |order_item|
  %tr
    %td
      .general-img-wrap-table
        %h1 Here you can display your "Product"
        %p= order_item.product.name
        %p= order_item.product.price
