<!DOCTYPE html>
<html>
<head>
  <title>Cartify</title>
  <%= stylesheet_link_tag    "cartify/application", media: "all" %>
  <%= javascript_include_tag "cartify/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
